header{
    text-align: center;
    padding: .625rem 0;
    h1 {
        display: block;
        width: 4.375rem;
        height: 1.5625rem;
        border-radius: 0.25rem;
        background: #fff;
        color: #529075;
        font-size: 1rem;
        line-height: 1.5625rem;
        margin: 0 auto;
    }
}