.cont_box {
    display: block;
    text-align: center;
    &.fixed {
        position: fixed;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }
    img {
        width: 6.25rem;
    }
}
.btn_box {
    display: block;
    margin-top: 3.125rem;
    a {
        display: block;
        width: 12.5rem;
        background: #529075;
        color: #fff;
        text-align: center;
        padding: .625rem 0;
        border-radius: 4px;
    }
    a + a {
        margin-top: .625rem;
        background: #fff;
        border: 1px solid #529075;
        color: #529075;
    }
}